<div class="form-group">
    <p class="profile-title">Общие реквизиты</p>
    <% if(Name != null) { %>
    <div class="basic-row">
        <div class="col-xs-12">
            Имя: <span class="form-control-static"><%= Name %></span>
        </div>
    </div>
    <% } %>

    <% if(Email != null && Email != '') { %>
    <div class="basic-row">
        <div class="col-xs-12">
            Email: <span class="form-control-static"><%= Email %> </span>
        </div>
    </div>

        <% if(EmailConfirmed != null) { %>
    <div class="basic-row">
        <div class="col-xs-12">
            Подтвержден: <span class="form-control-static"><%- EmailConfirmed? 'Да':'Нет' %> </span>
        </div>
    </div>
        <% } %>
    <% } %>

    <% if(PhoneNumber != null && PhoneNUmber != '') { %>
    <div class="basic-row">
        <div class="col-xs-12">
            Телефон: <span class="form-control-static"><%- PhoneNumber %> </span>
        </div>
    </div>

        <% if(PhoneNumberConfirmed != null) { %>
    <div class="basic-row">
        <div class="col-xs-12">
            Подтвержден: <span class="form-control-static"><%- PhoneNumberConfirmed? 'Да':'Нет' %> </span>
        </div>
    </div>
        <% } %>
    <% } %>


    <p class="profile-title">Роли</p>
    <div class="basic-row">
        <div class="col-xs-12">
            <div style="float: left;">Назначенные роли: </div><div class="roles col-xs-10"></div>
        </div>
    </div>


    <p class="profile-title">
        Подразделение
    </p>
    <div class="basic-row">
        <div class="col-xs-12">
            Код подразделения: <span class="form-control-static"><%- StructDivision? StructDivision.Code: '' %> </span>
        </div>
    </div>

    <div class="basic-row">
        <div class="col-xs-12">
            Наименование подразделения: <span class="form-control-static"><%- StructDivision? StructDivision.Name: '' %> </span>
        </div>
    </div>
</div>


<p class="profile-title">
    Направления банковской деятельности
</p>
<div class="basic-row activity-lines"> </div>


<p class="profile-title">
    Настройки
</p>
<div class="basic-row">
    <div class="control-settings">

    </div>
</div>

<p class="profile-title">
    Информаця о системе
</p>
<div class="system-info">

</div>
<p class="profile-title">
    Последняя активность
</p>
<div class="activity-info">

</div>
