<button class="btn btn-danger clear-grid-setting">Сбросить настройки таблиц</button>
<a href="/Admin" class="btn btn-default .go-to-admin">Перейти в систему администрирования</a>

<div class="modal fade clear-grid-setting-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-body">
                <h4 class="modal-title">Вы действительно хотите очистить все настройки таблиц?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success clear-gridsettings-ok">Ок</button>
                <button class="btn btn-danger cancel clear-gridsettings-cancel" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade clear-grid-setting-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Настройки сброшены</h4>
            </div>
            <div class="modal-footer">               
                <button class="btn btn-success cancel clear-gridsettings-cancel" data-dismiss="modal">Ок</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade clear-grid-setting-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Ошибка, повторите позднее</h4>
            </div>
            <div class="modal-footer">                
                <button class="btn btn-default cancel" data-dismiss="modal">Ок</button>
            </div>

        </div>
    </div>
</div>