<div class="basic-row">
    <div class="col-xs-12">
        Номер сборки: <span class="form-control-static"><%- (BuildNumber == 0) ? 'Номер сборки отсутсвует': BuildNumber  %> </span>
    </div>
</div>

<div class="basic-row">
    <div class="col-xs-3">
        Номер версии: <span class="form-control-static"><%- (VersionNumber=='' || VersionNumber == 0)? 'Номер версии отсуствует': VersionNumber%> </span>
    </div>
</div>


<div class="basic-row">
    <div class="col-xs-12">
        Ветка: <span class="form-control-static"><%- (BranchName) ? BranchName: 'Не определено' %> </span>
    </div>
</div>

<div class="basic-row">
    <div class="col-xs-12">
        Дата сборки: <span class="form-control-static"><%- moment(BuildDate).lang('ru').format('DD MMMM YYYY, HH:mm:ss') %> </span>
    </div>
</div>