EngTrain/bin/
EngTrain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EngTrain/obj/
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/
TemplateBuilder/bin/
TemplateBuilder/obj/
EngTrain.Models/obj/
EngTrain.Models/bin/
