<div class="title">Обучение</div>
<div id="main" class="container">

    <header class="style1">
        <h2>Создайте новый аккаунт или войдите</h2>
        <p>
            Можно войти с помощью существующего аккаунта english train или создать новый аккаунт, выбрав один из общеприянтых уровней знания английского
        </p>
    </header>
    <div class="row 100%">
        <div class="6u">

            <section>
                <form method="post" action="#">
                    <div class="row">
                        <div class="12u">
                            <input type="text" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <input type="password" name="password" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="actions">
                                <li>
                                    <input type="submit" class="style1" value="Войти"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>

        </div>
        <div class="6u">

            <!-- Contact -->
            <section class="feature-list small">
                <div class="row">
                    <div class="12u">
                        <input type="button" class="style2 btn-create-account" value="Создать новый аккаунт"/>
                    </div>
                </div>
            </section>

        </div>
    </div>
    
</div>
