<div class="title">Настройки</div>
<div id="main" class="container">
    <!-- Features -->
    <section id="features">
<div class="row 150%">
        <div class="12u">
            <!-- Contact -->
            <section class="feature-list small">
                <div class="row">
                    <div class="6u">
                        <section class="level-description" data-level="Elementary">
                            <h3 class="icon fa-motorcycle">Elementary<span class="level-check icon fa-check"></span></h3>
                            <p>
                                Начальный уровень<br>
                                Понимаете простые предложения<br>
                                Словарный запас: меньше 2500 слов
                            </p>
                        </section>
                    </div>
                    <div class="6u">
                        <section class="level-description" data-level="Intermediate">
                            <h3 class="icon fa-car">Intermediate<span class="level-check icon fa-check"></span></h3>
                            <p>
                                Средний уровень<br>
                                Легко читаете адаптированные тексты<br>
                                Словарный запас: 2500 - 4500 слов
                            </p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="6u">
                        <section class="level-description"  data-level="UpperIntermediate">
                            <h3 class="icon fa-truck">Upper Intermediate<span class="level-check icon fa-check"></span></h3>
                            <p>
                                Выше среднего<br>
                                Легко читаете иностранную прессу<br>
                                Словарный запас: 4500 - 6500 слов
                            </p>
                        </section>
                    </div>
                    <div class="6u">
                        <section class="level-description" data-level="Advanced">
                            <h3 class="icon fa-train">Advanced<span class="level-check icon fa-check"></span></h3> 
                            <p>
                                Продвинутый<br>
                                Читаете художественную литературу<br>
                                Словарный запас: больше 6500 слов
                            </p>
                        </section>
                    </div>
                </div>
            </section>

        </div>
    </div>
        <ul class="actions actions-centered">
            <li><a href="#" class="button style1 big">Перейти к обучению</a></li>
        </ul>
    </section>

</div>
